config ZMK_STUDIO
    default y

if SHIELD_EVL

config ZMK_KEYBOARD_NAME
    default "ErgoV"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_EVL || SHIELD_EVR

config ZMK_SPLIT
    default y

endif