if SHIELD_VKEY_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "VKey"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_VKEY_LEFT || SHIELD_VKEY_RIGHT

config ZMK_SPLIT
    default y

endif