if SHIELD_ERGOV_LEFT

config ZMK_KEYBOARD_NAME
    default "ErgoV"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ERGOV_LEFT || SHIELD_ERGOV_RIGHT

config ZMK_SPLIT
    default y

endif